package main

import (
	"flag"
	
	"{{ .Module }}/db"
	"{{ .Module }}/server"
)

// main ...
func main() {
{{ if (eq .Database "mysql") -}}
	dbusername := flag.String("u", "root", "username")
	dbpassword := flag.String("p", "password", "password")
	dbhost := flag.String("h", "localhost", "host name")
	dbport := flag.String("t", "3306", "port")
	dbname := flag.String("d", "", "database name")
{{ end -}}
	port := flag.String("l", "8888", "Port to listen on")
	am := flag.Bool("a", false, "Auto migrate DB tables")
	sfiles := flag.String("s", "", "Path to static files for frontend (if any)")
	flag.Parse()

{{ if (eq .Database "sqlite") -}}
	database := db.Connect(*am)
{{ else if (eq .Database "mysql") -}}
	database := db.Connect(*dbusername+":"+*dbpassword+"@tcp("+*dbhost+":"+*dbport+")/"+*dbname+"?charset=utf8&parseTime=True&loc=Local", *am)
{{ else if (eq .Database "postgres") -}}
	database = db.Connect(fmt.Sprintf("host=%s port=%s user=%s dbname=%s password=%s", *dbhost, *dbport, *dbusername, *dbname, *dbpassword), *am)
{{ end -}}
	s := server.Setup(database, *sfiles)	

	s.Run(":" + *port)
}
