package router

import (
	"fmt"
	
	"{{ .ImportDir }}/controllers"

	"github.com/gin-contrib/static"
	"github.com/gin-gonic/gin"
)

func Initialize(r *gin.Engine, sfiles string) {
	if sfiles != "" {
		fmt.Printf("serving static files from %s\n", sfiles)
		r.Use(static.Serve("/", static.LocalFile(sfiles, true)))
	}
	r.GET("/endpoints", controllers.APIEndpoints)

	api := r.Group("{{ .Namespace }}")
	{
{{ range .Models }}
		api.GET("/{{ pluralize (toLower .Name) }}", controllers.Get{{ pluralize .Name }})
		api.GET("/{{ pluralize (toLower .Name) }}/:id", controllers.Get{{ .Name }})
		api.POST("/{{ pluralize (toLower .Name) }}", controllers.Create{{ .Name }})
		api.PUT("/{{ pluralize (toLower .Name) }}/:id", controllers.Update{{ .Name }})
		api.DELETE("/{{ pluralize (toLower .Name) }}/:id", controllers.Delete{{ .Name }})
{{ end }}
	}
}
