package server

import (
	"{{ .Module }}/middleware"
	"{{ .Module }}/router"

	"github.com/gin-gonic/gin"
	"github.com/jinzhu/gorm"
)

func Setup(db *gorm.DB, sfiles string) *gin.Engine {
	r := gin.Default()
	r.Use(middleware.SetDBtoContext(db))
	router.Initialize(r, sfiles)
	return r
}
