package db

import (
	"errors"
	"fmt"

	"github.com/gin-gonic/gin"
	"github.com/jinzhu/gorm"
)

func (p *Parameter) Paginate(db *gorm.DB) (*gorm.DB, error) {
	if p == nil {
		return nil, errors.New("Parameter struct got nil.")
	}

	if p.IsLastID {
		if p.Order == "asc" {
			return db.Where("id > ?", p.LastID).Limit(p.Limit).Order("id asc"), nil
		}

		return db.Where("id < ?", p.LastID).Limit(p.Limit).Order("id desc"), nil
	}

	return db.Offset(p.Limit * (p.Page - 1)).Limit(p.Limit), nil
}

func (p *Parameter) SetHeaderLink(c *gin.Context, index int) error {
	if p == nil {
		return errors.New("Parameter struct got nil.")
	}

	var pretty, filters, preloads string
	reqScheme := "http"

	if c.Request.TLS != nil {
		reqScheme = "https"
	}

	if _, ok := c.GetQuery("pretty"); ok {
		pretty = "&pretty"
	}

	if len(p.Filters) != 0 {
		filters = p.GetRawFilterQuery()
	}

	if p.Preloads != "" {
		preloads = fmt.Sprintf("&preloads=%v", p.Preloads)
	}

	if p.IsLastID {
		c.Header("Link", fmt.Sprintf("<%s://%v%v?limit=%v%s%s&last_id=%v&order=%v%s>; rel=\"next\"", reqScheme, c.Request.Host, c.Request.URL.Path, p.Limit, filters, preloads, index, p.Order, pretty))
		return nil
	}

	if p.Page == 1 {
		c.Header("Link", fmt.Sprintf("<%s://%v%v?limit=%v%s%s&page=%v%s>; rel=\"next\"", reqScheme, c.Request.Host, c.Request.URL.Path, p.Limit, filters, preloads, p.Page+1, pretty))
		return nil
	}

	c.Header("Link", fmt.Sprintf(
		"<%s://%v%v?limit=%v%s%s&page=%v%s>; rel=\"next\",<%s://%v%v?limit=%v%s%s&page=%v%s>; rel=\"prev\"", reqScheme,
		c.Request.Host, c.Request.URL.Path, p.Limit, filters, preloads, p.Page+1, pretty, reqScheme, c.Request.Host, c.Request.URL.Path, p.Limit, filters, preloads, p.Page-1, pretty))
	return nil
}
